 <div class="loggin-container">
  <div class="loggin-container-logo">
    <img src="../../assets/img/logo.jpeg" alt="Logo rReport Now" />
  </div>
  <div class="loggin-container-form">
    <h1>Registrate</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" action="">
      <div class="login-container-form-input">
        <div class="login-container-form-input-field">
          <i
            class="fa-solid fa-user fa-2x loggin-container-form-input-icon"
          ></i>
          <input
            class="input-field"
            type="text"
            placeholder="Ingrese su usuario"
            name="user"
            formControlName="user"
          />
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('user')?.touched && contactForm.get('user')?.errors?.['required']"
        >
          Este campo es requerido
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('user')?.touched && contactForm.get('user')?.errors?.['minlength']"
        >
          El nombre de usuario debe ser mayor a
          {{ contactForm.get('user')?.errors?.['minlength']?.requiredLength}}
          characteres.
        </div>
      </div>

      <div class="login-container-form-input">
        <div class="login-container-form-input-field">
          <i
            class="fa-solid fa-envelope fa-2x loggin-container-form-input-icon"
          ></i>
          <input
            class="input-field"
            type="text"
            placeholder="Ingrese su correo"
            name="email"
            formControlName="email"
          />
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
        >
          Este campo es requerido
        </div>
      </div>

      <div class="login-container-form-input">
        <div class="login-container-form-input-field">
          <i
            class="fa-solid fa-phone fa-2x loggin-container-form-input-icon"
          ></i>
          <input
            class="input-field"
            type="text"
            placeholder="Ingrese su celular"
            name="phone"
            formControlName="phone"
          />
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.errors?.['required']"
        >
          Este campo es requerido
        </div>
      </div>

      <div class="login-container-form-input">
        <div class="login-container-form-input-field">
          <i class="fa fa-key fa-2x loggin-container-form-input-icon"></i>
          <input
            class="input-field"
            type="password"
            placeholder="Ingrese su contraseña"
            formControlName="password"
            name="password"
          />
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
        >
          Este campo es requerido
        </div>
        <div
          class="alert_danger"
          *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
        >
          La contraseña debe ser mayor a
          {{ contactForm.get('password')?.errors?.['minlength']?.requiredLength}}
          characteres.
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="contactForm.invalid">
        <a style="text-decoration: none" routerLink="/validate-otp">Registrarse</a>
      </button>
    </form>
  </div>
  <div class="loggin-container-accounts">
    <button>Google</button>
    <button>Apple ID</button>
  </div>
  <div class="loggin-container-regiter-text">
    <b>¿Ya tienes una cuenta? <a routerLink="">Inicia Sesión</a></b>
  </div>
</div>
