<div class="loggin-container">
    <div class="loggin-container-logo">
        <img src="../../assets/img/logo.jpeg" alt="Logo rReport Now" />
    </div>
    <div class="loggin-container-form">
        <h1>Validación de OTP</h1>
        <form>
            <div class="login-container-form-input">
                <div class="login-container-form-input-field">
                    <input class="input-field" type="text" placeholder="" name="email"
                        formControlName="email" required />
                    <input class="input-field" type="text" placeholder="" name="email"
                        formControlName="email" required />
                    <input class="input-field" type="text" placeholder="" name="email"
                        formControlName="email" required />
                    <input class="input-field" type="text" placeholder="" name="email"
                        formControlName="email" required />
                </div>
            </div>

            <button type="submit">
                Validar
            </button>
        </form>
    </div>
</div>