<div class="loggin-container">
    <div class="loggin-container-logo">
        <img src="../../assets/img/logo.jpeg" alt="Logo rReport Now" />
    </div>
    <div class="loggin-container-form">
        <h1>Validación de OTP</h1>
        <p>Ingresa el código de 4 dígitos que acaba de llegar a tu teléfono</p>
        <form>
            <div class="login-container-form-input">
                <div class="login-container-form-input-field">
                    <input class="input-field" type="number" placeholder="" name="otp"
                       onKeyUp="if(this.value>9){this.value='';alert('Ingrese solo un dígito');}else if(this.value<0){this.value='';}" formControlName="otp" required />
                    <input class="input-field" type="number" placeholder="" name="otp"
                       onKeyUp="if(this.value>9){this.value='';alert('Ingrese solo un dígito');}else if(this.value<0){this.value='';}" formControlName="otp" required />
                    <input class="input-field" type="number" placeholder="" name="otp"
                       onKeyUp="if(this.value>9){this.value='';alert('Ingrese solo un dígito');}else if(this.value<0){this.value='';}" formControlName="otp" required />
                    <input class="input-field" type="number" placeholder="" name="otp"
                       onKeyUp="if(this.value>9){this.value='';alert('Ingrese solo un dígito');}else if(this.value<0){this.value='';}" formControlName="otp" required />
                </div>
            </div>

            <button type="submit">
                Validar
            </button>
        </form>
    </div>
</div>