<div class="loggin-container">
  <div class="loggin-container-logo">
    <img src="../../assets/img/logo.jpeg" alt="Logo rReport Now" />
  </div>
  <div class="loggin-container-form">
    <h1>Report Now</h1>
    <form action="">
      <div class="loggin-container-form-input">
        <i class="fa-solid fa-user fa-2x loggin-container-form-input-icon"></i>
        <input
          class="input-field"
          type="text"
          placeholder="Ingrese su usuario"
          name="email"
        />
      </div>

      <div class="loggin-container-form-input">
        <i class="fa fa-key fa-2x loggin-container-form-input-icon"></i>
        <input
          class="input-field"
          type="password"
          placeholder="Ingrese su contraseña"
          name="psw"
        />
      </div>

      <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
  </div>
  <div class="loggin-container-accounts">
    <button>Google</button>
    <button>Apple ID</button>
  </div>
  <div class="loggin-container-regiter-text">
    <b>¿No estas registrado? <a href="">Registrate</a></b>
  </div>
</div>
