a {
  color: #fff;
}

.loggin-container {
  width: 98%;
  margin: 0 auto;
}

.loggin-container-logo {
  margin-top: 3rem;
  text-align: center;
}

.loggin-container-logo img {
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .loggin-container-logo img {
    width: 85%;
  }
}

.loggin-container-form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.loggin-container-form h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
}

.loggin-container-form form button {
  background-color: #1e90ff;
  color: #fff;
  width: 80%;
  height: 5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .loggin-container-form form button {
    width: 90%;
  }
}

.loggin-container-form form button:hover {
  background-color: #0074ff;
}

.loggin-container-form form button a:hover {
  text-decoration: none;
}

.login-container-form-input {
  margin-bottom: 2rem;
}

.login-container-form-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form icons */
.loggin-container-form-input-icon {
  padding: 10px;
  margin-right: 0.2rem;
  background: #1e90ff;
  color: white;
  width: 7%;
  text-align: center;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

/* Style the input fields */
.input-field {
  font-size: 1.5rem;
  width: 70%;
  padding: 10px;
  border: none;
  background-color: #333333;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .input-field {
    font-size: 1rem;
  }
}

.input-field:focus {
  border: 2px solid #1e90ff;
}

.btn:hover {
  opacity: 1;
}

.loggin-container-accounts {
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .loggin-container-accounts {
    width: 80%;
  }

  .loggin-container-form-input-icon {
    width: auto;
  }
}

.loggin-container-accounts button {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  border-radius: 2rem;
  width: 44%;
  height: 4rem;
  font-size: 1.2rem;
}

.loggin-container-regiter-text {
  width: 80%;
  text-align: center;
  margin: 1.5rem auto;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}
