<app-navbar></app-navbar>
<h1>TOP VERIFICADAS</h1>

<div class="notice-cards">
  <div class="notice-card" *ngFor="let notice of noticias">
    <h3>{{ notice.title }}</h3>
    <div class="notice-photo">
      <a routerLink="/notice/{{ notice._id }}">
        <img
          src="../../assets/img/17010.jpg"
          alt="Foto de la noticia"
          class="img-fluid rounded d-block m-l-none"
        />
      </a>
    </div>
    <div class="notice-buttons">
      <p>{{ notice.likes }} Verificados</p>
    </div>
  </div>
</div>
