<app-navbar></app-navbar>
<h1>TOP VERIFICADAS</h1>

<div class="notice-cards">
  <div class="notice-card" *ngFor="let notice of noticesArray">
    <h3>{{notice.titulo}}</h3>
    <div class="notice-photo">
      <a routerLink="/notice">
        <img
          src="../../assets/img/17010.jpg"
          alt="Foto de la noticia"
          class="img-fluid rounded d-block m-l-none"
        />
      </a>
    </div>
    <div class="notice-buttons">
      <button class="btn btn-primary" (click)="onVerify()">
        <i class="fa-solid fa-check"></i>Verificar
      </button>
      <p>{{notice.likes}} Verificados</p>
    </div>
  </div>
</div>
